html {
    height: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 16px;
    height: 100%;
}

#login-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#login-form .login-form-heading,
#login-form .checkbox {
    margin-bottom: 10px;
}

#login-form .checkbox {
    font-weight: normal;
}

#login-form .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#login-form .form-control:focus {
    z-index: 2;
}

#login-form #username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#login-form #password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-brand-active {
    color: #FFF !important;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.sidebar h4 {
    margin-left: -5px;
}

.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none outside none;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.report-icon {
    height: 100px;
    width: 100px;
    display: block;
    margin-top: 5px;
}

.caption {
    text-align: center;
}

.row-fixed {
    width: 10px;
    text-align: center;
}

#client-tabs {
    margin-top: 30px;
}

.nav-tabs > li .close {
    margin-left: 10px;
}

#centini-client {
    position: fixed;
    top: 65px;
    right: 10px;
    width: 250px;
    height: 400px;
}

#centini-client .close {
    margin-top: -3px;
}

#external-url {
    width: 100%;
    height: 100%;
    margin-top: 11px;
    border: none;
}