<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">Administration</div>
            <div class="list-group">
                <a href="#" id="manage-users" class="list-group-item">Users</a>
                <a href="#" id="manage-groups" class="list-group-item">Groups & Members</a>
                <a href="#" id="manage-queues" class="list-group-item">Queues & Members</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Reports</div>
            <div class="list-group">
                <a href="#" id="call-data-record-logs" class="list-group-item">CDR Logs</a>
                <a href="#" id="queue-statistics" class="list-group-item">Queue Statistics</a>
            </div>
        </div>
    </div>
    <div id="content-panel" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
</div>