<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <h4>Administration</h4>
        <ul class="nav nav-sidebar">
            <li><a href="#">Users</a></li>
            <li><a href="#">Groups & Members</a></li>
            <li><a href="#">Queues & Members</a></li>
        </ul>
        <h4>Reports</h4>
        <ul class="nav nav-sidebar">
            <li><a href="#" id="call-data-record-logs">Call Data Record Logs</a></li>
            <li><a href="#" id="queue-statistics">Queue Statistics</a></li>
        </ul>
    </div>
    <div id="content-panel" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
</div>