<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Centini</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a id="issue-menu" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						Issues
						<span id="open" class="badge alert-danger" data-toggle="tooltip" data-placement="bottom" data-original-title="Open">0</span>
						<span id="in_progress" class="badge alert-info" data-toggle="tooltip" data-placement="bottom" data-original-title="In-Progress">0</span>
						<span id="resolved" class="badge alert-success" data-toggle="tooltip" data-placement="bottom" data-original-title="Resolved">0</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="issue-menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#create_new_issue"><i class="fa fa-file-o"></i> Create New Issue</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#list_issues"><i class="fa fa-list"></i> List Issues</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a id="notification-menu" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-bell"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="notification-menu">
					</ul>
				</li>
				<li class="dropdown">
					<a id="settings-menu" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="settings-menu">
					</ul>
				</li>
				<li class="dropdown">
					<a id="user-menu" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="user-menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#change_password"><i class="fa fa-key"></i> Change Password</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" id="logout"><i class="fa fa-sign-out"></i> Logout (<b id="name">rudilee</b>)</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>